header {
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 100vw;
    margin-bottom: 1rem;
}

header p {
    width: 15rem;
}

header img {
    height: 100%;
    width: 3rem;
}
