.current-balance {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 1rem 0;
}

.current-balance_heading {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.current-balance_amount, .current-balance_heading h2 {
    font-weight: 600;
}