.home-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
    width: 70%;
    min-height: 30rem;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: x-large;
}